div {
  box-sizing: border-box;
}

.App {
  text-align: center;
  justify-content: center;
  background-color: darkslateblue;
  border: 5px solid #282c34;
  padding: 5px;
  width: 100%;
}

.DashboardTitle {
  background-color: white;
  border: 5px solid #282c34;
  font-size: 70px;
}
.DashboardSection {
  background-color: grey;
  border: 5px solid #282c34;
  margin: 10px;
  border-radius: 10px;
}
.SectionTitle{
  background-color: white;
  font-size: 50px;
}

.DashboardOutput{
  display: flex;
  justify-content: center;
  padding: 5px;
}

.ChartContainer {
  background-color: white;
  display: inline-flex;
  overflow-x: auto;
  white-space: nowrap;
}
.BarChart{
  height: 400px;
  width: 5000px;
}
.LineChart {
  height: 400px;
  width: 2000px;
}
.TileContainer {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow-x: auto;
    gap: 1em;
    margin: 5px;
    
}

.LaunchInfoTile {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10%;
  background-color: pink;
  border: 5px solid #282c34;
  border-radius: 10px;
  width: 200px;
}

.LaunchInfoTile p {
  font-weight: bold;
}

.Icon{
  color: maroon;
  background-color: #ff000020;
  padding: 10px;
}